.Navbar {
    width: 100%;
    padding: 11px 0;
    background-color: #282c34;
    color:white;
  }
  
  .Navbar__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    margin-right: 0.5rem;
    height: 42px;
    padding-left: 10px;
  }

#estilos {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color:white;
}

#color{
  color: white;
}